@model List<YogaMockUp.Models.ViewModels.UserRolesVM>

@{
    ViewData["Title"] = "Manage users";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <br />
    <h1>Manage users</h1>
    <a class="btn btn-primary" href='/Identity/Account/Register'><i class="fas fa-plus"></i> Create new user</a>
    <br /><br />
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip code</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Address</td>
                    <td>@user.City</td>
                    <td>@user.ZipCode</td>
                    <td>@string.Join(" ,", user.Roles.ToList())</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" asp-controller="ManageUsers" asp-action="Edit" asp-route-userId="@user.UserId"><i class="fas fa-edit"></i> Edit</a></li>
                                <li><a class="dropdown-item" asp-controller="ManageUsers" asp-action="Manage" asp-route-userId="@user.UserId"><i class="fas fa-users"></i> Manage Roles</a></li>
                                <li><a class="dropdown-item" asp-controller="ManageUsers" asp-action="Delete" asp-route-userId="@user.UserId" 
                                     onclick="return confirm('Are you sure you want to delete @user.FirstName @user.LastName?')"><i class="fa fa-trash"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>