@model List<YogaMockUp.Models.ViewModels.ManageUserRolesVM>
@{
    ViewData["Title"] = "Manage user roles";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <br />
<form method="post">
    <div class="card">
        <div class="card-header">
            <h1>Manage user roles</h1>
            <h5>Add/remove roles for user: @ViewBag.UserName</h5>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Index" asp-controller="ManageUsers"
               class="btn btn-secondary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
</div>